  @import '../modules/variables';

  .app-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 10 * $unit 15px;
    position: sticky;
    z-index: 1;
    width: 100%;
    color: #ccd6f6;


    a {
      text-decoration: none;
      color: inherit;
      font-size: 16px;
    }

    .resume-button {
      color: #64ffda;
      width: max-content;
      height: max-content;
      padding: 10px 15px;
      margin: -5px 0px 0px 50px;
      position: relative;
      background-color: transparent;
      border: 1px solid;
      border-radius: 3px;
      line-height: 1;
      cursor: pointer;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    
      &:hover,
      &:focus,
      &:active {
        background-color: #003566;
        outline: none;
      }
      &:after {
        display: none !important;
      }
    }
  }