@import '../modules/media';
@import '../styles/color-palette';

.about-container {
   display: flex;
   flex-direction: column;
   margin: auto;
   max-width: 980px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 100px;
   
   @include for-phone-only {    
       font-size: 16px;
       padding-top: 70px;
    }

    .greeting {
        font-size: 20px;
        font-weight: normal;
        color: colorSelector('primary','glow-green');

        @include for-phone-only {    
            font-size: 16px; 
        }

    }

    .name {
        font-size: 65px;
        line-height: 1.1;
        margin-top: 25px;
        margin-bottom: 20px;
        color: colorSelector('primary','primary-text');
        
        @include for-phone-only {    
            font-size: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .description {
        width: 75%;
        margin: 0;
        font-size: 32px;
        line-height: 1.1;
        color: colorSelector('primary','secondary-text');

        @include for-phone-only {    
            font-size: 14px; 
        }
    }

    .location {
        margin-top: 40px;
        max-width: 900px;
        font-size: 20px;
        width: 75%;
        color: colorSelector('primary','secondary-text');

        @include for-phone-only {    
            margin-top: 20px;
            font-size: 11px; 
        }
    }
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}
.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 600ms, transform 600ms;
}