@import '../modules/media';
@import '../modules/variables';

.experience-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 980px;
    padding: 0px 150px;

    @include for-phone-only {  
        padding: 0 40px; 
        font-size: 11px; 
    }

    & > section {
        padding: 20 * $unit;
    }

   
    h3 {
        position: relative;
        display: flex;
        align-items: center;
        //margin: 10px 0 40px;
        width: 100%;
        white-space: nowrap;
        color: #ccd6f6;;
        border-radius: 3px solid #000;;

        &:before {
            counter-increment: section;
            content: '0' counter(section) '.';
            margin-right: 10px;
            font-weight: normal;
            position: relative;
            bottom: 0px;
        }

        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 300px;
            background-color: #2d3952;
            position: relative;
            //top: 1px;
            margin-left: 20px;
          }
    }

   
}